@import url("reset.css");
.hidden {
  display: none;
}

body{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: azure;
}

.firstSpace, .middleSpace, .lastSpace {
  z-index: 2;
  display: flex;
  width: 33%;
  height: 100vh;
  justify-content: center;
}

.todo {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo input {
  width: 170px;
  height: 21px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}
.todo input::placeholder{
  color:honeydew;
  opacity: 0.6;
}
.todo input:focus{
  outline: none;
}

.todo h2 {
  color:honeydew;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.music-box{
  margin-top: 170px
}

.music-control{
  text-align: center;
  margin-top: 7px;
}

input:focus::placeholder{
  opacity: 0%;
}

#bgImage {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

#greeting {
  margin-top: 150px;
  text-align: center;
  font-size: 50px;
  color:snow;
}

#login-form input:first-child{
  display: block;
  margin-top: 150px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  color:snow;
  font-size: 30px;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}
#login-form input::placeholder{
  color: azure;
  opacity: 0.7;
}
#login-form input:focus{
  outline: none;

}

#todo-list {
  margin-top: 20px;
}

#todo-list li {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

#todo-list li button {
  background: none;
  border: none;
  right: 2px;
  font-size: 18px;
  opacity: 0.6;
}

#today{
  font-size: 45px;
  color:honeydew;
  margin-top: 150px;
  text-align: center;
}

#clock{
  font-size: 60px;
  color:honeydew;
  margin-top: 15px;
  text-align: center;
}

#weather{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
  color:honeydew;
  text-align: center;
}

#quote {
  height: 20px;
  position: absolute;
  bottom: 80px;
  text-align:left;
}

#quote span {
  display: block;
  width: 100%;
  color: antiquewhite;
  font-style: italic;
  font-weight: bold;
}

#quote span:first-child {
  font-size: 15px;
}

#quote span:last-child {
  font-size: 13px;
  margin-top: 10px;
  font-weight: 200;
  text-align: center;
}

#songName {
  font-size: 30px;
  margin-bottom: 5px;
  color:honeydew;
}

#singer {
  text-align: center;
  color:honeydew;
}